article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    min-width: 400px;
}

article header {
    display: flex;
    gap: 15px;
}
article header div {
    display: flex;
    flex-direction: column;
}

article img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.username {
    opacity: .6;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 40px;
    width: 80px;
    background-color: #fff;
    color: #222;
    border-radius: 25px;
    font-size: 1.1rem;
}